/* @import url('https://fonts.googleapis.com/css?family=Product+Sans:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i'); */
@import url('./fonts/Open Sans/style.css');
@import url('./fonts/Product Sans/style.css');
@import url('./fonts/Roboto/style.css');

body {
    margin: 0;
    padding: 0;
    font-family: Open Sans;
}

.App {
    text-align: center;
}